        .fa-stack[data-count]:after {
        position: absolute;
        right: 0%;
        top: 0%;
        content: attr(data-count);
        font-size: 40%;
        padding: .6em;
        border-radius: 999px;
        line-height: .75em;
        color: black;
        text-align: center;
        min-width: 2em;
        font-weight: bold;
        background: white;
        border-style: solid;
    }
    
    .fa-circle {
        color: #DF0000;
    }
    
    .red-cart {
        color: #DF0000;
        background: white;
    }
    
    .yeei {
        color: white;
        background-image: url("../images/pizza.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: auto;
    }
    
    label {
        padding: 5%
    }
    
    #order {
        padding-left: -15%;